</article>
</main>
<footer role="contentinfo">
 <picture>
    <source media="(prefers-color-scheme: dark)" srcset="school.svg">
    <img src="school.svg" alt="School emblem" style="width:12.5%;height:auto;">
  </picture>
  <nav aria-label="Legal">
    <a href="../../terms">Terms</a> |
    <a href="../../privacy">Privacy</a> |
    <a href="../../licensing">Licensing</a>
  </nav>

  <p>© 2025 The Carpocratian School, Inc.</p>
  <p>
    This work is openly licensed via CC BY-NC-SA<br>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">https://creativecommons.org/licenses/by-nc-sa/4.0/</a>
  </p>

</footer>
</div>
<div class="hidden" id="floating-menu">
<ul>
<li><button id="toggle-toc" onclick="location.href='#table-of-contents'">◦ Contents</button></li>
<li><button id="toggle-reading-mode">◦ Focus</button></li>
</ul>
</div>
<button class="menu-button" id="menu-toggle"> ≣ Menu</button>
</body>
<!-- Body end -->



</html>