<body>
<div class="container">


<!-- Cover -->
<section id="titlepage" class="no-print" aria-hidden="true">
	<center><img src="school.svg" width="20%" height="20%"></center>
	<p class="subtitle">The Carpocratian School</p>
	<p class="scripture-subtitle">THE WORLD SCIENCE OF</p>
	<p class="scripture-title">GEOMETRY</p>
	<figure>
		<img src="cover.webp"/>
		<figcaption>
			<strong>Tower of Babel</strong> (1928) by M.C. Escher
		</figcaption>
	</figure>
</section>
<!-- Table of Contents begin -->
<h1 aria-hidden="true" class="no-print">Table of Content</h1>
<nav aria-hidden="true" id="table-of-contents">
  <ul>
  	<h2>Part I &mdash; Plane Geometry and Vision</h2>
    <li>
      <a href="#chapter-1">1 Plane Geometry</a>
      <ul>
		<li><a href="#definitions">23 Definitions</a></li>
		<li><a href="#postulates">5 Postulates</a></li>
		<li><a href="#notions">5 Common Notions</a></li>
		<li><a href="#1.1">Equilateral Triangle</a></li>
		<li><a href="#1.2">Triangle Congruences</a></li>
		<li><a href="#1.3">Isosceles Triangle</a></li>
		<li><a href="#1.4">Bisection</a></li>
		<li><a href="#1.5">Perpendiculars</a></li>
		<li><a href="#1.6">External Angle Theorem</a></li>
		<li>Parallel Through A Point</li>
		<li>Alternate Interior Angles</li>
		<li>Sum of Angles in a Triangle</li>
		<li>Triangle Inequality</li>
		<li>Triangle From Three Lengths</li>
		<li>Parallelograms</li>
		<li>Triangle-Parallelogram Area Relation</li>
		<li>Equal-Area Constructions</li>
		<li>The Pythagorean Theorem</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-2">2 Geometry as Algebra</a>
      <ul>
        <li>Algebraic Identity</li>
        <li>Difference of Two Squares</li>
        <li>Geometric Quadratic Equation</li>
        <li>The Golden Ratio</li>
        <li>The Prototypical Law of Cosines</li>
        <li>Equal-area Square</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-3">3 The Circle</a>
      <ul>
        <li>The Center</li>
        <li>The Tangent</li>
        <li>Angles in Circles</li>
        <li>Equal Angles and Equal Arcs</li>
        <li>Thales' theorem</li>
        <li>Semicircle Angles</li>
        <li>The Power of a Point</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-4">4 Regular Figures</a>
      <ul>
        <li>Inscribed Circles</li>
        <li>Triangle in a Circle</li>
        <li>Pentagon in a Circle</li>
        <li>Hexagon in a Circle</li>
        <li>15-gon in a Circle</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-5">5 Euclid's Optics</a>
      <ul>
        <li>Limit of Distance</li>
        <li>Apparent Size, Foreshortening</li>
        <li>Parallel Convergence</li>
        <li>Planes Rise and Fall to Eye Level</li>
        <li>Circle or Ellipse?</li>
        <li>Perspective Depth</li>
        <li>Size Increases Near Approach</li>
        <li>Motion Parallax</li>
        <li>Relative Motion</li>
        <li><em>Examination:</em><br>Measuring Height, Depth, and Length</li>
      </ul>
    </li>
    <h2>Part II &mdash; Ratios, Similarity, and Magnitudes</h2>
    <li>
      <a href="#chapter-6">6 Ratios and Proportions</a>
      <ul>
		<li>Ratio</li>
		<li>Proportions</li>
		<li>Duplicate Proportion</li>
		<li>Distributivity</li>
		<li>Associativity of Multiplication</li>
		<li>Transitivity of Proportions</li>
		<li>Alternate Proportions</li>
		<li>Ratios ex aequali</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-7">7 Similar Figures</a>
      <ul>
		<li>Similarity</li>
		<li>Triangle Areas Proportional to Bases</li>
		<li>Parallel Cuts Sides Proportionally</li>
		<li>Angle Bisector Theorem</li>
		<li>Similar Triangles</li>
		<li>Side-Angle-Side</li>
		<li>Divide Line Into Equal Parts</li>
		<li>Divide Line In Ratio</li>
		<li>Mean Proportionals</li>
		<li>w:x = y:z</li>
		<li>Areas of Similar Triangles</li>
		<li>Application of Areas</li>
		<li>Generalizing The Pythagorean Theorem</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-8">8 Irrational Magnitudes</a>
      <ul>
		<li>Commensurability</li>
		<li>Exhaustion</li>
		<li>Incommensurability</li>
		<li>Square vs. Length Commensurability</li>
		<li>Transitivity of Commensurability</li>
		<li>Difference of Medials Irrational</li>
		<li>Two squares summing to a square</li>
      </ul>
    </li>
    <h2>Part III &mdash; Solid Geoemtry</h2>
    <li>
      <a href="#chapter-9">9 Solids... In Space!</a>
      <ul>
		<li>Sphere</li>
		<li>Regular Polygons... In Space!</li>
		<li>Intersection of Planes = Line</li>
		<li>Two Perpendicular Lines to a Plane Are Parallel</li>
		<li>Lines Perpendicular to Planes</li>
		<li>Planes Perpendicular to the Same Line Are Parallel</li>
		<li>Solid Angles</li>
		<li>Volumes of Parallelepipeds</li>
		<li>Volumes of Prisms</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-10">10 Measuring Volumes</a>
      <ul>
		<li>Circular Areas</li>
		<li>Triangular Prism Division</li>
		<li>Cones</li>
		<li>The Height of a Cone/Cylinder</li>
		<li>The Volume of a Sphere</li>
      </ul>
    </li>
    <li>
      <a href="#chapter-11">11 The Perfect Solids</a>
      <ul>
		<li>The Tetrahedron</li>
		<li>The Octahedron</li>
		<li>The Cube</li>
		<li>The Icosahedron</li>
		<li>The Dodecahedron</li>
		<li>The Tetrahedron is Regular</li>
		<li>The Cube, Octahedron, and Dodecahedron are Regular</li>
		<li>The Icosahedron is Regular</li>
		<li>There are Exactly Five Regular Solids</li>
      </ul>
    </li>
  </ul>
</nav>

<!-- Table of Contents end -->
<!-- Forward matter begin -->
<section id="forward-matter">
<h1 aria-label="The World Science of Geometry">The World Science of Geometry</h1>
<p aria-hidden="true" class="author">
	This International Standards Organization (ISO, no affiliation) 80000-3 compliant revision of Books I, II, III, IV, V, VI, X, XI, XII, and XIII of Euclid's Elements (~380 BCE) was synthesized by<br/><span class="sibyl">Headmistress Marcellina (she/her)</span><br/>for The Carpocratian School.
</p>
</section>
<!-- Forward matter end -->
<main>
<article id="geometry">